<% if @winner  %>
    <div class="board">
      <% @moves.each do |square| %>
      <a class="btn square"><%= square.to_s %></a>
      <% end %>
    </div>
    <p class="first-msg">GAME OVER</p>
    <p id="game-over-msg"><%= @winner == :draw ? "DRAW" : "#{@winner.upcase} WINS" %></p>

<% elsif @ai_next %>
  <div class="board">
    <% @moves.each.with_index do |square, index| %>
    <a id=<%= "square-#{index}" %> class="btn square"><%= square.to_s %></a>
    <% end %>
  </div>
  <p class="first-msg">COMPUTER - <%= @choice %> - TURN</p>
  <form action="/player/0">
    <button id="continue-btn" type="submit">Continue</button>
  </form>

<% else %>
  <div class="board">
    <% @moves.each.with_index do |square, index| %>
    <a id=<%= "square-#{index}" %> class="square" href="/player/<%= index %>"><%= square.to_s %></a>
    <% end %>
  </div>
  <p class="first-msg">PLAYER - <%= @choice %> - TURN</p>
<% end %>
